core/
checkpoints/
.ipynb_checkpoints/
.ipynb_checkpoints/YOLOv4Tensorflow2-checkpoint.ipynb
.ipynb_checkpoints/YOLOv4Tensorflow2-checkpoint.ipynb
.ipynb_checkpoints/YOLOv4Tensorflow2-checkpoint.ipynb
result-int8.png
